# Previsão de Ataques de Civis e Ocorrência de Sub-eventos durante os conflitos na Ucrânia
### Autores: Amarilda Chihepe, Ludmila Mucavele

### Pacotes

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Introdução


### Importação dos Datasets

There are two datasets, one that contains data from 2014 to 2021 (df1) and another that contains the data from 2018 to 2023 (df2).

In [2]:
df1 = pd.read_csv('./Datasets/conflict_data_ukr-14-21.csv')
df2 = pd.read_csv('./Datasets/UkraineConflict-18-23.csv')

In [3]:
df1.head()

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,NaN,NaN,#date+year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,#date+end,NaN,NaN,NaN,NaN,#affected+killed,NaN,NaN,NaN,NaN
1,147997.0,UKR-2014-1-14085-0,2014,1.0,Clear,1.0,13219.0,13219.0,Ukraine: Government,14085.0,...,00:00.0,0.0,5.0,0.0,0.0,5,5.0,5.0,369.0,NaN
2,149221.0,UKR-2014-1-14085-1,2014,1.0,Clear,1.0,13219.0,13219.0,Ukraine: Government,14085.0,...,00:00.0,0.0,0.0,0.0,1.0,1,1.0,1.0,369.0,NaN
3,149248.0,UKR-2014-1-14085-3,2014,1.0,Clear,1.0,13219.0,13219.0,Ukraine: Government,14085.0,...,00:00.0,10.0,4.0,0.0,12.0,26,26.0,26.0,369.0,NaN
4,149249.0,UKR-2014-1-14085-4,2014,1.0,Clear,1.0,13219.0,13219.0,Ukraine: Government,14085.0,...,00:00.0,0.0,0.0,0.0,2.0,2,2.0,2.0,369.0,NaN

In [4]:
df2.head()

,EVENT_ID_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,DISORDER_TYPE,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ASSOC_ACTOR_1,INTER1,...,LOCATION,LATITUDE,LONGITUDE,GEO_PRECISION,SOURCE,SOURCE_SCALE,NOTES,FATALITIES,TAGS,TIMESTAMP
0,ROU448,20-May-19,2019,1,Political violence,Violence against civilians,Attack,Police Forces of Romania (2016-2019) Coast Guard,NaN,1,...,Coast of Constanta,44.156,28.948,2,Deschide; Hurriyet Daily; News.ro; CNN; TRT Haber,National-International,"On 20 May 2019, the Coast Guard of Romania fir...",0,NaN,1649875498
1,ROU1885,28-Mar-22,2022,1,Strategic developments,Strategic developments,Disrupted weapons use,Military Forces of Romania (2021-),NaN,1,...,Coast of Constanta,44.156,28.948,1,Adevarul; G4media,National,"Defusal: On 28 March 2022, Romanian minesweepe...",0,NaN,1649184809
2,ROU1940,28-Jul-22,2022,1,Demonstrations,Protests,Peaceful protest,Protesters (Romania),Greenpeace,6,...,Coast of Constanta,44.156,28.948,1,News.ro,National,"On 28 July 2022, Greenpeace activists proteste...",0,crowd size=no report,1659462993
3,ROU1945,31-Jul-22,2022,1,Strategic developments,Strategic developments,Disrupted weapons use,Military Forces of Romania (2021-),NaN,1,...,Coast of Constanta,44.156,28.948,1,Digi24,National,"Defusal: On 31 July 2022, Romanian Naval Force...",0,NaN,1660055880
4,ROU1947,4-Aug-22,2022,1,Demonstrations,Protests,Peaceful protest,Protesters (Romania),Greenpeace,6,...,Coast of Constanta,44.156,28.948,1,News.ro,National,"On 4 August 2022, Greenpeace activists protest...",0,crowd size=no report,1660055882

## Data Assessing

* **Dataset 1 (Conflicto de 2014 a 2021)**

In [5]:
print(df1.shape)
df1.info()

(2990, 50)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2990 entries, 0 to 2989
Data columns (total 50 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2989 non-null   float64
 1   relid              2989 non-null   object
 2   year               2990 non-null   object
 3   active_year        2989 non-null   float64
 4   code_status        2989 non-null   object
 5   type_of_violence   2989 non-null   float64
 6   conflict_dset_id   2989 non-null   float64
 7   conflict_new_id    2989 non-null   float64
 8   conflict_name      2989 non-null   object
 9   dyad_dset_id       2989 non-null   float64
 10  dyad_new_id        2989 non-null   float64
 11  dyad_name          2989 non-null   object
 12  side_a_dset_id     2989 non-null   float64
 13  side_a_new_id      2989 non-null   float64
 14  side_a             2990 non-null   object
 15  side_b_dset_id     2989 non-null   float64
 16  side_b_new_id      2989 non-null   float64
 17  side_b             2990 non-null   object
 18  number_of_sources  2989 non-null   float64
 19  source_article     2990 non-null   object
 20  source_office      2989 non-null   object
 21  source_date        2989 non-null   object
 22  source_headline    2990 non-null   object
 23  source_original    2971 non-null   object
 24  where_prec         2989 non-null   float64
 25  where_coordinates  2990 non-null   object
 26  where_description  2679 non-null   object
 27  adm_1              2762 non-null   object
 28  adm_2              2283 non-null   object
 29  latitude           2990 non-null   object
 30  longitude          2990 non-null   object
 31  geom_wkt           2989 non-null   object
 32  priogrid_gid       2989 non-null   float64
 33  country            2990 non-null   object
 34  iso3               2990 non-null   object
 35  country_id         2989 non-null   float64
 36  region             2990 non-null   object
 37  event_clarity      2989 non-null   float64
 38  date_prec          2989 non-null   float64
 39  date_start         2990 non-null   object
 40  date_end           2990 non-null   object
 41  deaths_a           2989 non-null   float64
 42  deaths_b           2989 non-null   float64
 43  deaths_civilians   2989 non-null   float64
 44  deaths_unknown     2989 non-null   float64
 45  best               2990 non-null   object
 46  high               2989 non-null   float64
 47  low                2989 non-null   float64
 48  gwnoa              2988 non-null   float64
 49  gwnob              0 non-null      float64
dtypes: float64(25), object(25)
memory usage: 1.1+ MB

In [6]:
df1.duplicated().sum()

0

In [7]:
df1.isnull().sum()

id                      1
relid                   1
year                    0
active_year             1
code_status             1
type_of_violence        1
conflict_dset_id        1
conflict_new_id         1
conflict_name           1
dyad_dset_id            1
dyad_new_id             1
dyad_name               1
side_a_dset_id          1
side_a_new_id           1
side_a                  0
side_b_dset_id          1
side_b_new_id           1
side_b                  0
number_of_sources       1
source_article          0
source_office           1
source_date             1
source_headline         0
source_original        19
where_prec              1
where_coordinates       0
where_description     311
adm_1                 228
adm_2                 707
latitude                0
longitude               0
geom_wkt                1
priogrid_gid            1
country                 0
iso3                    0
country_id              1
region                  0
event_clarity           1
date_prec               1
date_start              0
date_end                0
deaths_a                1
deaths_b                1
deaths_civilians        1
deaths_unknown          1
best                    0
high                    1
low                     1
gwnoa                   2
gwnob                2990
dtype: int64

In [8]:
# looking for numer of uninque values per feature
df1.nunique()

id                   2989
relid                2989
year                    9
active_year             2
code_status             1
type_of_violence        2
conflict_dset_id        5
conflict_new_id         5
conflict_name           5
dyad_dset_id            7
dyad_new_id             7
dyad_name               5
side_a_dset_id          2
side_a_new_id           2
side_a                  3
side_b_dset_id          7
side_b_new_id           7
side_b                  6
number_of_sources      14
source_article       2323
source_office         279
source_date          1508
source_headline      1817
source_original       812
where_prec              7
where_coordinates     402
where_description    1569
adm_1                   6
adm_2                  65
latitude              422
longitude             424
geom_wkt              424
priogrid_gid           32
country                 2
iso3                    2
country_id              1
region                  2
event_clarity           2
date_prec               5
date_start              2
date_end                2
deaths_a               21
deaths_b               23
deaths_civilians       21
deaths_unknown         21
best                   47
high                   48
low                    45
gwnoa                   1
gwnob                   0
dtype: int64

* **Dataset 2 (Conflicto de 2018 a 2023)**

In [9]:
print(df2.shape)

# general information of df2
df2.info()

(96082, 31)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96082 entries, 0 to 96081
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EVENT_ID_CNTY       96082 non-null  object
 1   EVENT_DATE          96082 non-null  object
 2   YEAR                96082 non-null  int64
 3   TIME_PRECISION      96082 non-null  int64
 4   DISORDER_TYPE       96082 non-null  object
 5   EVENT_TYPE          96082 non-null  object
 6   SUB_EVENT_TYPE      96082 non-null  object
 7   ACTOR1              96082 non-null  object
 8   ASSOC_ACTOR_1       6488 non-null   object
 9   INTER1              96082 non-null  int64
 10  ACTOR2              51829 non-null  object
 11  ASSOC_ACTOR_2       14678 non-null  object
 12  INTER2              96082 non-null  int64
 13  INTERACTION         96082 non-null  int64
 14  CIVILIAN_TARGETING  4188 non-null   object
 15  ISO                 96082 non-null  int64
 16  REGION              96082 non-null  object
 17  COUNTRY             96082 non-null  object
 18  ADMIN1              96065 non-null  object
 19  ADMIN2              95991 non-null  object
 20  ADMIN3              93680 non-null  object
 21  LOCATION            96082 non-null  object
 22  LATITUDE            96082 non-null  float64
 23  LONGITUDE           96082 non-null  float64
 24  GEO_PRECISION       96082 non-null  int64
 25  SOURCE              96082 non-null  object
 26  SOURCE_SCALE        96082 non-null  object
 27  NOTES               96082 non-null  object
 28  FATALITIES          96082 non-null  int64
 29  TAGS                5938 non-null   object
 30  TIMESTAMP           96082 non-null  int64
dtypes: float64(2), int64(9), object(20)
memory usage: 22.7+ MB

In [10]:
# looking for null values from ACTOR2 in df2
df2['ACTOR2'].isna().sum()

44253

In [11]:
# looking for disorder type values 
df1.conflict_name.value_counts()

Ukraine: Novorossiya                                                              2032
Ukraine: Donetsk                                                                   656
Ukraine: Lugansk                                                                   294
Ukraine: Government                                                                  6
Supporters of independence for Eastern Ukraine - Supporters of Ukrainian unity       1
Name: conflict_name, dtype: int64

In [12]:
df1.side_a.value_counts()

Government of Ukraine                             2988
#group+name+first                                    1
Supporters of independence for Eastern Ukraine       1
Name: side_a, dtype: int64

In [13]:
# looking for disorder type values 
df2.DISORDER_TYPE.value_counts()

Political violence                    87884
Demonstrations                         5799
Strategic developments                 2381
Political violence; Demonstrations       18
Name: DISORDER_TYPE, dtype: int64

In [14]:
# looking for associated actors
df2.ASSOC_ACTOR_2.value_counts()

Donbass People's Militia                                                                                         9155
Luhansk People's Militia                                                                                         2825
Donbass People's Militia; Civilians (Ukraine)                                                                     638
Civilians (Ukraine)                                                                                               272
Luhansk People's Militia; Civilians (Ukraine)                                                                     161
                                                                                                                 ...
Lawyers (Ukraine); Former Government of Ukraine (2019-)                                                             1
European Solidarity; Government of Ukraine (2019-)                                                                  1
Refugees/IDPs (Afghanistan); Civilians (Syria); Refugees/IDPs (Syria); Civilians (Iran); Refugees/IDPs (Iran)       1
Vidsich                                                                                                             1
Civilians (Poland); Aid Workers (Poland)                                                                            1
Name: ASSOC_ACTOR_2, Length: 378, dtype: int64

### Observations

* First index of df1
* Year of df1 as object type
* Missing values in Actor 2 feature from df2
* Datapoints from 2018-2021 not needed in df1
* `deaths_a`, `deaths_b`, `deaths_civilians`, `deaths_unknown` features values
* All df2 features in Uppercase
* Features to delete from df1:
    * id
    * relid
    * active_year
    * code_status
    * code_status
    * code_status
    * conflict_new_id
    * conflict_name
    * dyad_dset_id
    * dyad_new_id
    * dyad_name
    * side_a_dset_id
    * side_a_new_id
    * side_b_dset_id
    * side_b_dset_id
    * number_of_sources
    * source_article
    * source_article
    * source_date
    * source_headline
    * source_original
    * where_prec
    * where_description
    * geom_wkt
    * priogrid_gid
    * country_id
    * event_clarity
    * date_prec
    * date_start
    * date_end
    * date_end
    * deaths_b
    * deaths_civilians
    * deaths_civilians
    * best
    * high
    * low
    * gwnoa
    * gwnob
* Features to delete from df2:
    * EVENT_ID_CNTY
    * EVENT_DATE
    * TIME_PRECISION
    * SOURCE
    * SOURCE_SCALE
    * NOTES
    * TAGS
    * TIMESTAMP
* Unconcatenated datasets
* Too many associated actors in a column.
* `civilian_targeting` non-binary type

## Data Cleaning

* Drop first index of df1

#### Code

In [15]:
df1.drop(0, axis = 0, inplace = True)
df1.reset_index(drop = True, inplace = True)

#### Test

In [16]:
df1.head()

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,147997.0,UKR-2014-1-14085-0,2014,1.0,Clear,1.0,13219.0,13219.0,Ukraine: Government,14085.0,...,00:00.0,0.0,5.0,0.0,0.0,5,5.0,5.0,369.0,NaN
1,149221.0,UKR-2014-1-14085-1,2014,1.0,Clear,1.0,13219.0,13219.0,Ukraine: Government,14085.0,...,00:00.0,0.0,0.0,0.0,1.0,1,1.0,1.0,369.0,NaN
2,149248.0,UKR-2014-1-14085-3,2014,1.0,Clear,1.0,13219.0,13219.0,Ukraine: Government,14085.0,...,00:00.0,10.0,4.0,0.0,12.0,26,26.0,26.0,369.0,NaN
3,149249.0,UKR-2014-1-14085-4,2014,1.0,Clear,1.0,13219.0,13219.0,Ukraine: Government,14085.0,...,00:00.0,0.0,0.0,0.0,2.0,2,2.0,2.0,369.0,NaN
4,149251.0,UKR-2014-1-14085-6,2014,1.0,Clear,1.0,13219.0,13219.0,Ukraine: Government,14085.0,...,00:00.0,0.0,0.0,0.0,6.0,6,6.0,6.0,369.0,NaN

* Change `year` of df1 to integer type

#### Code

In [17]:
df1.year = df1.year.astype('int64')

#### Test

In [18]:
df1.year.dtype

dtype('int64')

* Imputing missing values in `Actor2` feature from df2 with 'None'

#### Code

In [19]:
df2.loc[df2['ACTOR2'].isna(), 'ACTOR2'] = 'None'

#### Test

In [20]:
df2[df2['ACTOR2'] == 'None'].shape

(44253, 31)

* Delete datapoints from 2018-2021 in df1

#### Code

In [21]:
index = df1[df1.year >= 2018].index.values
df1.drop(index, axis = 0, inplace = True)
df1.shape

(2325, 50)

#### Test

In [22]:
df1[df1.year >= 2018]

Empty DataFrame
Columns: [id, relid, year, active_year, code_status, type_of_violence, conflict_dset_id, conflict_new_id, conflict_name, dyad_dset_id, dyad_new_id, dyad_name, side_a_dset_id, side_a_new_id, side_a, side_b_dset_id, side_b_new_id, side_b, number_of_sources, source_article, source_office, source_date, source_headline, source_original, where_prec, where_coordinates, where_description, adm_1, adm_2, latitude, longitude, geom_wkt, priogrid_gid, country, iso3, country_id, region, event_clarity, date_prec, date_start, date_end, deaths_a, deaths_b, deaths_civilians, deaths_unknown, best, high, low, gwnoa, gwnob]
Index: []

[0 rows x 50 columns]

* Join `deaths_a`, `deaths_b`, `deaths_civilians`, `deaths_unknown` features values as `fatalities`

#### Code

In [23]:
# joining columns values into one new column
a = df1.deaths_a.values
b = df1.deaths_b.values
c = df1.deaths_civilians.values
d = df1.deaths_unknown.values
df1['fatalities'] = a + b + c + d

# dropping the columns
df1.drop(columns = ['deaths_a', 'deaths_b', 'deaths_civilians', 'deaths_unknown'], inplace = True)

#### Test

In [24]:
print(df1.shape)
df1['fatalities']

(2325, 47)

0        5.0
1        1.0
2       26.0
3        2.0
4        6.0
        ...
2828     1.0
2829     4.0
2830     1.0
2831     1.0
2832     1.0
Name: fatalities, Length: 2325, dtype: float64

*  Delete features from df1
    * id
    * relid
    * active_year
    * code_status 
    * conflict_new_id
    * conflict_name
    * dyad_dset_id
    * dyad_new_id
    * dyad_name
    * side_a_dset_id
    * side_a_new_id
    * side_b_dset_id
    * side_b_dset_id
    * number_of_sources
    * source_article
    * source_article
    * source_date
    * source_headline
    * source_original
    * where_prec
    * where_description
    * geom_wkt
    * priogrid_gid
    * country_id
    * event_clarity
    * date_prec
    * date_start
    * date_end
    * date_end
    * deaths_b
    * deaths_civilians
    * deaths_civilians
    * best
    * high
    * low
    * gwnoa
    * gwnob

#### Code

In [25]:
index = list(df1.columns[[0, 1]]) + df1.columns[3:8].tolist() + df1.columns[9:14].tolist() + list(df1.columns[[15, 16]]) + df1.columns[18:25].tolist() + [df1.columns[26]] + [df1.columns[31]] + [df1.columns[32]] + df1.columns[34:46].tolist()
df1.drop(columns=index, inplace=True)

#### Test

In [26]:
df1.columns

Index(['year', 'conflict_name', 'side_a', 'side_b', 'where_coordinates',
       'adm_1', 'adm_2', 'latitude', 'longitude', 'country', 'fatalities'],
      dtype='object')

*  Delete features from df2:
    * EVENT_ID_CNTY
    * EVENT_DATE
    * TIME_PRECISION
    * SOURCE
    * SOURCE_SCALE
    * NOTES
    * TAGS
    * TIMESTAMP

#### Code

In [27]:
columns = ['EVENT_ID_CNTY', 'EVENT_DATE', 'TIME_PRECISION', 'SOURCE', 'SOURCE_SCALE', 'NOTES', 'TAGS', 'TIMESTAMP', 'REGION', 'ISO', 'GEO_PRECISION']
df2.drop(columns = columns, inplace=True)

#### Test

In [28]:
df2.columns

Index(['YEAR', 'DISORDER_TYPE', 'EVENT_TYPE', 'SUB_EVENT_TYPE', 'ACTOR1',
       'ASSOC_ACTOR_1', 'INTER1', 'ACTOR2', 'ASSOC_ACTOR_2', 'INTER2',
       'INTERACTION', 'CIVILIAN_TARGETING', 'COUNTRY', 'ADMIN1', 'ADMIN2',
       'ADMIN3', 'LOCATION', 'LATITUDE', 'LONGITUDE', 'FATALITIES'],
      dtype='object')

* Lowcase all df2 features

#### Code

In [29]:
df2.columns = df2.columns.str.lower()

#### Test

In [30]:
df2.columns

Index(['year', 'disorder_type', 'event_type', 'sub_event_type', 'actor1',
       'assoc_actor_1', 'inter1', 'actor2', 'assoc_actor_2', 'inter2',
       'interaction', 'civilian_targeting', 'country', 'admin1', 'admin2',
       'admin3', 'location', 'latitude', 'longitude', 'fatalities'],
      dtype='object')

* Concatenate datasets

#### Code

In [31]:
df1.columns

Index(['year', 'conflict_name', 'side_a', 'side_b', 'where_coordinates',
       'adm_1', 'adm_2', 'latitude', 'longitude', 'country', 'fatalities'],
      dtype='object')

In [32]:
df2.columns

Index(['year', 'disorder_type', 'event_type', 'sub_event_type', 'actor1',
       'assoc_actor_1', 'inter1', 'actor2', 'assoc_actor_2', 'inter2',
       'interaction', 'civilian_targeting', 'country', 'admin1', 'admin2',
       'admin3', 'location', 'latitude', 'longitude', 'fatalities'],
      dtype='object')

In [33]:
df1.rename(columns = {'side_a' : 'actor1', 'side_b' : 'actor2', 'where_coordinates' : 'location', 'adm_1': 'admin1',
                     'adm_2': 'admin2', 'conflict_name': 'disorder_type'}, inplace = True)

In [34]:
# replacing actor terms  Supporters
df1.disorder_type = df1.disorder_type.apply(lambda x: 'Demonstrations' if 'Supporters' in x else 'Political violence')
df1.disorder_type.value_counts()

Political violence    2324
Demonstrations           1
Name: disorder_type, dtype: int64

In [35]:
# replacing actor terms
df1.actor1 = df1.actor1.apply(lambda x: 'Military Forces of Ukraine (2014-2019)' if 'Government of Ukraine' in x else x)
df1.actor2 = df1.actor2.apply(lambda x: 'Military Forces of Ukraine (2014-2019)' if 'Government of Ukraine' in x else x)
df1.actor1.value_counts()

Military Forces of Ukraine (2014-2019)            2324
Supporters of independence for Eastern Ukraine       1
Name: actor1, dtype: int64

In [36]:
# replacing actor terms
df1.actor1 = df1.actor1.apply(lambda x: 'NAF: United Armed Forces of Novorossiya' if 'United Armed Forces of Novorossiya' in x else x)
df1.actor2 = df1.actor2.apply(lambda x: 'NAF: United Armed Forces of Novorossiya' if 'United Armed Forces of Novorossiya' in x else x)
df1.actor2.value_counts()

DPR                                        1066
NAF: United Armed Forces of Novorossiya     870
LPR                                         382
Maidan                                        6
Supporters of Ukrainian unity                 1
Name: actor2, dtype: int64

In [37]:
# Spilt the string and keeping only the first associate actor
df2.assoc_actor_1 = df2.assoc_actor_1.apply(lambda x: str(x).split(';')[0])
df2.assoc_actor_2 = df2.assoc_actor_2.apply(lambda x: str(x).split(';')[0])
df2.assoc_actor_1 = df2.assoc_actor_1.apply(lambda x: str(x).split(',')[0])
df2.assoc_actor_2 = df2.assoc_actor_2.apply(lambda x: str(x).split(',')[0])
df2.assoc_actor_1.value_counts()

nan                                                                 89594
Military Forces of Russia (2000-)                                    1064
National Corps Party                                                  865
Labor Group (Ukraine)                                                 614
Military Forces of Russia (2000-) Air Force                           361
                                                                    ...
Police Forces of Ukraine (2014-2019) Special Tasks Patrol Police        1
Police Forces of Russia (2000-) Centre for Combating Extremism          1
Journalists (International)                                             1
KPU: Communist Party of Ukraine                                         1
Civil Control                                                           1
Name: assoc_actor_1, Length: 175, dtype: int64

In [38]:
# Imputing 'nan' value with 'None' 
df2.assoc_actor_1 = df2.assoc_actor_1.apply(lambda x: 'None' if 'nan' in x else x)
df2.assoc_actor_2 = df2.assoc_actor_2.apply(lambda x: 'None' if 'nan' in x else x)
df2.assoc_actor_1.value_counts()

None                                                                89594
Military Forces of Russia (2000-)                                    1064
National Corps Party                                                  865
Labor Group (Ukraine)                                                 614
Military Forces of Russia (2000-) Air Force                           361
                                                                    ...
Police Forces of Ukraine (2014-2019) Special Tasks Patrol Police        1
Police Forces of Russia (2000-) Centre for Combating Extremism          1
Journalists (International)                                             1
KPU: Communist Party of Ukraine                                         1
Civil Control                                                           1
Name: assoc_actor_1, Length: 175, dtype: int64

In [39]:
# Concatenating the two dataframes
df = pd.concat([df2, df1], axis = 0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98407 entries, 0 to 2832
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                98407 non-null  int64
 1   disorder_type       98407 non-null  object
 2   event_type          96082 non-null  object
 3   sub_event_type      96082 non-null  object
 4   actor1              98407 non-null  object
 5   assoc_actor_1       96082 non-null  object
 6   inter1              96082 non-null  float64
 7   actor2              98407 non-null  object
 8   assoc_actor_2       96082 non-null  object
 9   inter2              96082 non-null  float64
 10  interaction         96082 non-null  float64
 11  civilian_targeting  4188 non-null   object
 12  country             98407 non-null  object
 13  admin1              98295 non-null  object
 14  admin2              97978 non-null  object
 15  admin3              93680 non-null  object
 16  location            98407 non-null  object
 17  latitude            98407 non-null  object
 18  longitude           98407 non-null  object
 19  fatalities          98407 non-null  float64
dtypes: float64(4), int64(1), object(15)
memory usage: 15.8+ MB

#### Test

In [40]:
print(df.shape)
df.columns

(98407, 20)

Index(['year', 'disorder_type', 'event_type', 'sub_event_type', 'actor1',
       'assoc_actor_1', 'inter1', 'actor2', 'assoc_actor_2', 'inter2',
       'interaction', 'civilian_targeting', 'country', 'admin1', 'admin2',
       'admin3', 'location', 'latitude', 'longitude', 'fatalities'],
      dtype='object')

* Impute `None` or `0` to `NaN` values

#### Code

In [41]:
def isNaNtoNone(column):
    column = column.apply(lambda x: 'None' if pd.isna(x) else x)
    return column
def isNaNto0(column):
    column = column.apply(lambda x: int(0) if pd.isna(x) else x)
    return column

In [42]:
for i in df.columns:
    if df[i].dtype == 'object':
        df[i] = isNaNtoNone(df[i])
    else:
        df[i] = isNaNto0(df[i])

#### Test

In [43]:
df.head(3)

,year,disorder_type,event_type,sub_event_type,actor1,assoc_actor_1,inter1,actor2,assoc_actor_2,inter2,interaction,civilian_targeting,country,admin1,admin2,admin3,location,latitude,longitude,fatalities
0,2019,Political violence,Violence against civilians,Attack,Police Forces of Romania (2016-2019) Coast Guard,None,1.0,Civilians (Turkey),Fishers (Turkey),7.0,17.0,Civilian targeting,Romania,Constanta,None,None,Coast of Constanta,44.156,28.948,0.0
1,2022,Strategic developments,Strategic developments,Disrupted weapons use,Military Forces of Romania (2021-),None,1.0,Unidentified Military Forces,None,8.0,18.0,None,Romania,Constanta,None,None,Coast of Constanta,44.156,28.948,0.0
2,2022,Demonstrations,Protests,Peaceful protest,Protesters (Romania),Greenpeace,6.0,None,None,0.0,60.0,None,Romania,Constanta,None,None,Coast of Constanta,44.156,28.948,0.0

* Transform `civilian_targeting` to binary type and transform `latitude` and `longitude` to float type

#### Code

In [44]:
# transform civilian_targeting to binary type
df.civilian_targeting = df.civilian_targeting.apply(lambda x: '1' if 'Civilian targeting' in x else '0')
df.civilian_targeting = df.civilian_targeting.astype(int)

# transform latitude and longitude to float type
df.latitude = df.latitude.astype(float)
df.longitude = df.longitude.astype(float)

#### Test

In [45]:
print(df.latitude.dtype)
df.civilian_targeting.value_counts()

float64

0    94219
1     4188
Name: civilian_targeting, dtype: int64

### Saving Cleaned Dataset

In [46]:
df.to_csv('./Datasets/Ukraine_Conflict_cleaned-14-23.csv', index = False)

## Pre-Processing and Normalization

In [47]:
# listing categorical and numerical features
categorical_features = ['disorder_type', 'event_type', 'sub_event_type', 'actor1', 'assoc_actor_1', 'actor2', 'assoc_actor_2',
                        'country', 'admin1', 'admin2', 'admin3', 'location']
numeric_features = ['year', 'civilian_targeting', 'inter1', 'inter2', 'interaction', 'latitude', 'longitude', 'fatalities']

x_cat_features = ['disorder_type', 'event_type', 'actor1', 'assoc_actor_1', 'actor2', 'assoc_actor_2', 'country', 'admin1',
                  'admin2', 'admin3', 'location']
y_cat_features = ['sub_event_type']

x_num_features = ['year', 'inter1', 'inter2', 'interaction', 'latitude', 'longitude', 'fatalities']
y_num_features = ['civilian_targeting']

* Label encoding

In [48]:
from sklearn.preprocessing import LabelEncoder

# Create an instance of LabelEncoder for each categorical feature
label_encoders = {}
for i in categorical_features:
    label_encoders[i] = LabelEncoder()

# Fit LabelEncoder on the data for each categorical feature
for i in categorical_features:
    label_encoders[i].fit(df[i])

# Save Label encoders
import joblib
joblib.dump(label_encoders, 'Label_Encoders')

# Encode the categorical features in x using LabelEncoder
encoded_x_categorical = np.zeros((len(df), len(x_cat_features)))
for i, feature in enumerate(x_cat_features):
    encoded_x_categorical[:, i] = label_encoders[feature].transform(df[feature])

# Encode the categorical features in y using LabelEncoder
encoded_y_categorical = np.zeros((len(df), len(y_cat_features)))
for i, feature in enumerate(y_cat_features):
    encoded_y_categorical[:, i] = label_encoders[feature].transform(df[feature])

# Combine encoded_x_categorical and x_num_features to create x input
x_cat_df = pd.DataFrame(encoded_x_categorical, columns=x_cat_features)
x_num_df = df[x_num_features].reset_index(drop=True)
x = pd.concat([x_cat_df, x_num_df], axis=1)

# Combine encoded_y_categorical and y_num_features to create y
y_cat_df = pd.DataFrame(encoded_y_categorical, columns=y_cat_features)
y_num_df = df[y_num_features].reset_index(drop=True)
y = pd.concat([y_cat_df, y_num_df], axis=1)

In [49]:
x.head()

,disorder_type,event_type,actor1,assoc_actor_1,actor2,assoc_actor_2,country,admin1,admin2,admin3,location,year,inter1,inter2,interaction,latitude,longitude,fatalities
0,1.0,6.0,64.0,95.0,19.0,36.0,0.0,3.0,118.0,392.0,333.0,2019,1.0,7.0,17.0,44.156,28.948,0.0
1,3.0,5.0,31.0,95.0,90.0,106.0,0.0,3.0,118.0,392.0,333.0,2022,1.0,8.0,18.0,44.156,28.948,0.0
2,0.0,3.0,89.0,51.0,58.0,106.0,0.0,3.0,118.0,392.0,333.0,2022,6.0,0.0,60.0,44.156,28.948,0.0
3,3.0,5.0,31.0,95.0,86.0,106.0,0.0,3.0,118.0,392.0,333.0,2022,1.0,3.0,13.0,44.156,28.948,0.0
4,0.0,3.0,89.0,51.0,58.0,106.0,0.0,3.0,118.0,392.0,333.0,2022,6.0,0.0,60.0,44.156,28.948,0.0

* Layer Parameters

In [51]:
# Determine the input_dim and input_length
input_dim = sum(len(label_encoders[feature].classes_) for feature in categorical_features) - len(label_encoders['sub_event_type'].classes_)
output_dim = 64
num_num_input = 7 #numeric features
num_cat_input = 11 #sequence features

print("Input Dimension:", input_dim)
print("Output Dimension:", output_dim)

Input Dimension: 4421
Output Dimension: 64

### Split Data for Training and Testing

In [52]:
from sklearn.model_selection import train_test_split

# Select categorical features from x and y
x_categorical = x[x_cat_features].values
x_numerical = x[x_num_features].values
y_categorical = y[y_cat_features].values
y_numerical = y[y_num_features].values

# Split categorical tensors
x_categorical_train, x_categorical_test, y_categorical_train, y_categorical_test = train_test_split(
    x_categorical, y_categorical, train_size=0.7, random_state=42)

# Split numerical tensors
x_numerical_train, x_numerical_test, y_numerical_train, y_numerical_test = train_test_split(
    x_numerical, y_numerical, train_size = 0.7, random_state = 42 )

### Recurrent Neural Network

Using RNN (Recurrent Neural Network), which can handle categorical variables without explicit one-hot encoding. Its architecture can often process categorical variables as integer or ordinal values directly.

In [53]:
from tensorflow.keras.layers import Input, Embedding, LSTM, Dense, concatenate
from tensorflow.keras.models import Model
from tensorflow.keras import regularizers

# define regularizer
regularizer = regularizers.l1(0.01)

# Define input shape for categorical features and numerical features
input_categorical = Input(shape=(num_cat_input,))
input_numerical = Input(shape=(num_num_input,))

# Embedding layer for categorical features
embedded_categorical = Embedding(input_dim, output_dim)(input_categorical)

# LSTM layer for sequence processing
lstm_output = LSTM(units=32)(embedded_categorical)

# Concatenate LSTM output with numerical input
concatenated = concatenate([lstm_output, input_numerical])

# Dense layers for classification
dense_units = 128
dense1 = Dense(units=dense_units, activation='relu', kernel_regularizer = regularizer )(concatenated)
dense2 = Dense(units=dense_units, activation='relu', kernel_regularizer = regularizer)(dense1)

# Output for subevent_output prediction (categorical)
subevent_output = Dense(units=25, activation='softmax', name='subevent_output')(dense2)

# Output for civilian_output prediction (binary)
civilian_output = Dense(units=1, activation='sigmoid', name='civilian_output')(dense2)

# Create the model
model = Model(inputs=[input_categorical, input_numerical], outputs=[subevent_output, civilian_output])

# Print the model summary
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(None, 11)]         0           []

 embedding (Embedding)          (None, 11, 64)       282944      ['input_1[0][0]']

 lstm (LSTM)                    (None, 32)           12416       ['embedding[0][0]']

 input_2 (InputLayer)           [(None, 7)]          0           []

 concatenate (Concatenate)      (None, 39)           0           ['lstm[0][0]',
                                                                  'input_2[0][0]']

 dense (Dense)                  (None, 128)          5120        ['concatenate[0][0]']

 dense_1 (Dense)                (None, 128)          16512       ['dense[0][0]']

 subevent_output (Dense)        (None, 25)           3225        ['dense_1[0][0]']

 civilian_output (Dense)        (None, 1)            129         ['dense_1[0][0]']

==================================================================================================
Total params: 320,346
Trainable params: 320,346
Non-trainable params: 0
__________________________________________________________________________________________________



What the model structure means:

The Embedding layer is added as the first layer of the model. It takes three main parameters:

* input_dim: The total number of unique categories in the categorical feature. This value determines the size of the input space for the Embedding layer.
* output_dim: The dimensionality of the dense embedding vectors. It determines the size of the output space for the Embedding layer, i.e., the size of the learned embedding vectors.

During model training, the Embedding layer learns to map each integer-encoded category to a dense vector of size output_dim. These learned embeddings are updated based on the model's optimization process and are used as input to the subsequent layers (e.g., LSTM layer).

#### Compilation and Optimization of the Model

In [54]:
from tensorflow.keras.optimizers import Adam

model.compile(loss={'subevent_output': 'sparse_categorical_crossentropy', 'civilian_output': 'binary_crossentropy'},
              loss_weights={'subevent_output': 3.0, 'civilian_output': 1.0},
              optimizer= Adam(0.001),
              metrics=['accuracy'])

#### Model Training

In [55]:
# Fit the model
model.fit([x_categorical_train, x_numerical_train], [y_categorical_train, y_numerical_train],
          validation_data=([x_categorical_test, x_numerical_test], [y_categorical_test, y_numerical_test]), 
          epochs=15, batch_size=32)

Epoch 1/15
2153/2153 [==============================] - 23s 9ms/step - loss: 10.5651 - subevent_output_loss: 2.0404 - civilian_output_loss: 0.1400 - subevent_output_accuracy: 0.8551 - civilian_output_accuracy: 0.9645 - val_loss: 7.0146 - val_subevent_output_loss: 1.1525 - val_civilian_output_loss: 0.0652 - val_subevent_output_accuracy: 0.9183 - val_civilian_output_accuracy: 0.9689
Epoch 2/15
2153/2153 [==============================] - 19s 9ms/step - loss: 4.1999 - subevent_output_loss: 0.4079 - civilian_output_loss: 0.0762 - subevent_output_accuracy: 0.9304 - civilian_output_accuracy: 0.9763 - val_loss: 3.6836 - val_subevent_output_loss: 0.3630 - val_civilian_output_loss: 0.0904 - val_subevent_output_accuracy: 0.9205 - val_civilian_output_accuracy: 0.9631
Epoch 3/15
2153/2153 [==============================] - 19s 9ms/step - loss: 2.9534 - subevent_output_loss: 0.2341 - civilian_output_loss: 0.0670 - subevent_output_accuracy: 0.9465 - civilian_output_accuracy: 0.9797 - val_loss: 2.5942 - val_subevent_output_loss: 0.2389 - val_civilian_output_loss: 0.0395 - val_subevent_output_accuracy: 0.9517 - val_civilian_output_accuracy: 0.9890
Epoch 4/15
2153/2153 [==============================] - 19s 9ms/step - loss: 2.1161 - subevent_output_loss: 0.1866 - civilian_output_loss: 0.0530 - subevent_output_accuracy: 0.9515 - civilian_output_accuracy: 0.9829 - val_loss: 1.7326 - val_subevent_output_loss: 0.1659 - val_civilian_output_loss: 0.0378 - val_subevent_output_accuracy: 0.9547 - val_civilian_output_accuracy: 0.9891
Epoch 5/15
2153/2153 [==============================] - 19s 9ms/step - loss: 1.4046 - subevent_output_loss: 0.1490 - civilian_output_loss: 0.0426 - subevent_output_accuracy: 0.9598 - civilian_output_accuracy: 0.9863 - val_loss: 1.1022 - val_subevent_output_loss: 0.1308 - val_civilian_output_loss: 0.0325 - val_subevent_output_accuracy: 0.9631 - val_civilian_output_accuracy: 0.9894
Epoch 6/15
2153/2153 [==============================] - 19s 9ms/step - loss: 0.9836 - subevent_output_loss: 0.1312 - civilian_output_loss: 0.0381 - subevent_output_accuracy: 0.9647 - civilian_output_accuracy: 0.9877 - val_loss: 0.8637 - val_subevent_output_loss: 0.1293 - val_civilian_output_loss: 0.0314 - val_subevent_output_accuracy: 0.9648 - val_civilian_output_accuracy: 0.9897
Epoch 7/15
2153/2153 [==============================] - 19s 9ms/step - loss: 0.7776 - subevent_output_loss: 0.1189 - civilian_output_loss: 0.0331 - subevent_output_accuracy: 0.9673 - civilian_output_accuracy: 0.9896 - val_loss: 0.7650 - val_subevent_output_loss: 0.1293 - val_civilian_output_loss: 0.0299 - val_subevent_output_accuracy: 0.9627 - val_civilian_output_accuracy: 0.9895
Epoch 8/15
2153/2153 [==============================] - 19s 9ms/step - loss: 0.6868 - subevent_output_loss: 0.1106 - civilian_output_loss: 0.0315 - subevent_output_accuracy: 0.9692 - civilian_output_accuracy: 0.9903 - val_loss: 0.6871 - val_subevent_output_loss: 0.1195 - val_civilian_output_loss: 0.0299 - val_subevent_output_accuracy: 0.9656 - val_civilian_output_accuracy: 0.9864
Epoch 9/15
2153/2153 [==============================] - 19s 9ms/step - loss: 0.6318 - subevent_output_loss: 0.1055 - civilian_output_loss: 0.0308 - subevent_output_accuracy: 0.9701 - civilian_output_accuracy: 0.9902 - val_loss: 0.6331 - val_subevent_output_loss: 0.1112 - val_civilian_output_loss: 0.0268 - val_subevent_output_accuracy: 0.9680 - val_civilian_output_accuracy: 0.9919
Epoch 10/15
2153/2153 [==============================] - 20s 9ms/step - loss: 0.6008 - subevent_output_loss: 0.1016 - civilian_output_loss: 0.0308 - subevent_output_accuracy: 0.9711 - civilian_output_accuracy: 0.9901 - val_loss: 0.6412 - val_subevent_output_loss: 0.1177 - val_civilian_output_loss: 0.0300 - val_subevent_output_accuracy: 0.9670 - val_civilian_output_accuracy: 0.9916
Epoch 11/15
2153/2153 [==============================] - 20s 9ms/step - loss: 0.5843 - subevent_output_loss: 0.0985 - civilian_output_loss: 0.0307 - subevent_output_accuracy: 0.9719 - civilian_output_accuracy: 0.9899 - val_loss: 0.6209 - val_subevent_output_loss: 0.1095 - val_civilian_output_loss: 0.0401 - val_subevent_output_accuracy: 0.9695 - val_civilian_output_accuracy: 0.9897
Epoch 12/15
2153/2153 [==============================] - 20s 9ms/step - loss: 0.5570 - subevent_output_loss: 0.0927 - civilian_output_loss: 0.0311 - subevent_output_accuracy: 0.9731 - civilian_output_accuracy: 0.9901 - val_loss: 0.6061 - val_subevent_output_loss: 0.1074 - val_civilian_output_loss: 0.0386 - val_subevent_output_accuracy: 0.9692 - val_civilian_output_accuracy: 0.9901
Epoch 13/15
2153/2153 [==============================] - 20s 9ms/step - loss: 0.5502 - subevent_output_loss: 0.0914 - civilian_output_loss: 0.0320 - subevent_output_accuracy: 0.9738 - civilian_output_accuracy: 0.9899 - val_loss: 0.6176 - val_subevent_output_loss: 0.1157 - val_civilian_output_loss: 0.0289 - val_subevent_output_accuracy: 0.9674 - val_civilian_output_accuracy: 0.9902
Epoch 14/15
2153/2153 [==============================] - 20s 9ms/step - loss: 0.5378 - subevent_output_loss: 0.0887 - civilian_output_loss: 0.0313 - subevent_output_accuracy: 0.9746 - civilian_output_accuracy: 0.9899 - val_loss: 0.5811 - val_subevent_output_loss: 0.1056 - val_civilian_output_loss: 0.0282 - val_subevent_output_accuracy: 0.9681 - val_civilian_output_accuracy: 0.9911
Epoch 15/15
2153/2153 [==============================] - 20s 9ms/step - loss: 0.5353 - subevent_output_loss: 0.0881 - civilian_output_loss: 0.0323 - subevent_output_accuracy: 0.9744 - civilian_output_accuracy: 0.9898 - val_loss: 0.6071 - val_subevent_output_loss: 0.1136 - val_civilian_output_loss: 0.0293 - val_subevent_output_accuracy: 0.9668 - val_civilian_output_accuracy: 0.9895

### Optimized results

In [56]:
loss, subevent_loss, civilian_loss, subevent_accuracy, civilian_accuracy= model.evaluate([x_categorical_test, x_numerical_test],
                                                                                         [y_categorical_test, y_numerical_test],
                                                                                           verbose=0)

# Calculate total accuracy as the average of subevent_accuracy and civilian_accuracy
total_accuracy = (subevent_accuracy + civilian_accuracy) / 2

print("Loss:", loss)
print("Subevent Accuracy:", subevent_accuracy)
print("Civilian Accuracy:", civilian_accuracy)
print("Total Accuracy:", total_accuracy)

Loss: 0.6071257591247559
Subevent Accuracy: 0.96677166223526
Civilian Accuracy: 0.9894996881484985
Total Accuracy: 0.9781356751918793

### Saving the Model

In [57]:
model.save("Ukrain_and_Russia_victims_and_subevent_predictor.h5")

## Prediction Function

In [58]:
def predictor (category_arr, numeric_arr):

    x_cat_features = ['disorder_type', 'event_type', 'actor1', 'assoc_actor_1', 'actor2', 'assoc_actor_2',
                      'country', 'admin1', 'admin2', 'admin3', 'location']
    x_num_val = np.array(list(numeric_arr.values()), dtype=np.float32)
    x_cat_val = []

    # Encode the values from category_arr to labels
    for i, (feature, val) in enumerate(zip(x_cat_features, category_arr)):
        encoded_val = label_encoders[feature].transform([val])[0]
        x_cat_val.append(encoded_val)

    x_cat_val = np.array(x_cat_val, dtype=np.int32)
    x_cat_val = np.reshape(x_cat_val, (1, -1))
    x_num_val = np.reshape(x_num_val, (1, -1))
    
    # Predict the values using the model
    batch_size = 32
    predictions = model.predict([x_cat_val, x_num_val], batch_size=batch_size)
    sub_event_type = np.argmax(predictions[0], axis=1)
    civilian_targeting = np.argmax(predictions[1], axis=1)

    # Convert the results to string
    sub_event_type = label_encoders['sub_event_type'].inverse_transform(sub_event_type)
   
    if civilian_targeting == 0:
        civilian_targeting_resp = 'No'
    else:
        civilian_targeting_resp = 'Yes'

    return sub_event_type[0], civilian_targeting_resp